@media (max-width: 1200px) {
  #facts .facts--japanHouse img {
    width: 665px;
    height: 446px;
  }
  #facts .facts--japanHouse__texts h3 {
    width: 398px;
  }
  #facts .facts--japanHouse__texts h4 {
    width: 381px;
  }
  #facts .facts--images img {
    width: 318px;
    height: 229px;
  }
  #facts .facts--images__launch h3 {
    width: 330px;
  }
  #facts .facts--secondImages img {
    width: 318px;
    height: 229px;
  }
  #facts .facts--secondImages__suzanne h3 {
    width: 373px;
  }
  #facts .facts--secondImages__london h3 {
    width: 315px;
  }
  #posts .posts--imgPosts__creativity h3 {
    width: 250px;
  }
  #posts .posts--imgPosts img {
    width: 248px;
    height: 158px;
  }
  #posts .posts--imgPosts__campaign h3 {
    width: 252px;
  }
  #posts .posts--imgPosts__legends h3 {
    width: 250px;
  }
  #posts .posts--imgPosts__autumn h3 {
    width: 240px;
  }
  #posts .posts--fourPosts img {
    width: 248px;
    height: 158px;
  }
  #posts .posts--fourPosts__furniture h3 {
    width: 259px;
  }
  #posts .posts--fourPosts__beck h3 {
    width: 255px;
  }
  #posts .posts--fourPosts__perceptions h3 {
    width: 258px;
  }
  #posts .posts--fourPosts__paunches h3 {
    width: 248px;
  }
  #featuredPosts .featuredPosts--textAndImg img {
    width: 520px;
    height: 356px;
  }
  #featuredPosts .featuredPosts--textAndImg__brief h3 {
    width: 508px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg img {
    width: 520px;
    height: 356px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg__fred h3 {
    width: 485px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg__saatchi h3 {
    width: 497px;
  }
  #footer .footer--categories__menusAndInput {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 1084px;
  }
}
@media (max-width: 1024px) {
  #facts .facts--japanHouse img {
    width: 565px;
    height: 363px;
  }
  #facts .facts--japanHouse__texts h3 {
    width: 312px;
  }
  #facts .facts--japanHouse__texts h4 {
    width: 315px;
  }
  #facts .facts--images__helmut h3 {
    width: 273px;
  }
  #facts .facts--images img {
    width: 264px;
    height: 177px;
  }
  #facts .facts--images__launch h3 {
    width: 275px;
  }
  #facts .facts--images__thousands h3 {
    width: 280px;
  }
  #facts .facts--secondImages img {
    width: 264px;
    height: 177px;
  }
  #facts .facts--secondImages__anonymous h3 {
    width: 260px;
  }
  #facts .facts--secondImages__suzanne h3 {
    width: 269px;
  }
  #facts .facts--secondImages__london h3 {
    width: 253px;
  }
  #facts .facts--secondImages {
    width: 99%;
  }
  #footer .footer--categories__menusAndInput {
    width: 941px;
  }
  #posts .posts--imgPosts img {
    width: 206px;
    height: 132px;
  }
  #posts .posts--imgPosts__creativity h3 {
    width: 222px;
  }
  #posts .posts--imgPosts__campaign h3 {
    width: 222px;
  }
  #posts .posts--imgPosts__legends h3 {
    width: 219px;
  }
  #posts .posts--imgPosts__autumn h3 {
    width: 219px;
  }
  #posts .posts--fourPosts img {
    width: 206px;
    height: 132px;
  }
  #posts .posts--fourPosts__furniture h3 {
    width: 222px;
  }
  #posts .posts--fourPosts__beck h3 {
    width: 196px;
  }
  #posts .posts--fourPosts__perceptions h3 {
    width: 197px;
  }
  #posts .posts--fourPosts__paunches h3 {
    width: 209px;
  }
  #featuredPosts .featuredPosts--textAndImg img {
    width: 423px;
    height: 277px;
  }
  #featuredPosts .featuredPosts--textAndImg__brief h3 {
    width: 444px;
  }
  #featuredPosts .featuredPosts--textAndImg__need h3 {
    width: 428px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg img {
    width: 423px;
    height: 277px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg__fred h3 {
    width: 435px;
  }
  #featuredPosts .featuredPosts--secondTextAndImg__saatchi h3 {
    width: 414px;
  }
}

/*# sourceMappingURL=media.css.map */
