*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  width: 90%;
}
a{
  text-decoration: none;
  cursor:pointer;
  color: white;
}
@mixin h5{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin h3{
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
@mixin h6{
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin menus{
  display: flex;
  flex-direction: column;
}
