@import "global";

#header {
  border-bottom: solid 1px rgba(101, 100, 100, 0.41);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    &--logo {
      font-family: 'Roboto Mono', monospace;
      font-weight: 700;
      font-size: 25px;
    }

    &--menus {
      width: 200px;
      display: flex;
      justify-content: space-between;

      a {
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 14px;
      }
    }
  }
}

#facts {

  .facts {
    &--japanHouse {
      padding: 60px 0;
      display: flex;

      img {
        width: 721px;
        height: 474px;
      }

      &__texts {
        margin-left: 40px;

        h5 {
          font-family: 'Libre Franklin', sans-serif;
          font-weight: 400;
          font-size: 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        h3 {
          font-family: 'Tenor Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          text-transform: uppercase;
          margin: 25px 0;
          width: 436px;
        }

        h4 {
          font-family: 'Source Serif Pro', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 25px;
          width: 411px;
        }

        h6 {
          font-family: 'Libre Franklin', sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }

    &--images {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        width: 420px;
        height: 280px;
      }

      &__helmut {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 329px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__launch {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 372px;
        }

        h6 {
          @include h6;
          margin-top: 20px;

        }
      }

      &__thousands {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 364px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

    }

    &--secondImages {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 80px 0;
      border-bottom: solid 1px rgba(101, 100, 100, 0.41);

      img {
        width: 420px;
        height: 280px;
      }

      &__london {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 329px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__anonymous {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 359px;
        }

        h6 {
          @include h6;
          margin-top: 20px;

        }
      }

      &__suzanne {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 381px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

    }
  }
}

#posts {
  margin-top: 90px;
  width: 100%;

  .posts {
    border-bottom: solid 1px rgba(101, 100, 100, 0.41);

    &--textsPosts {
      @include h5;
      margin-bottom: 30px;
    }

    &--imgPosts {
      display: flex;
      justify-content: space-between;

      img {
        width: 300px;
        height: 196px
      }

      &__creativity {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 302px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__campaign {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 276px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__legends {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 295px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__autumn {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 301px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

    }

    &--fourPosts {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      img {
        width: 300px;
        height: 196px
      }

      &__furniture {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 302px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__beck {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 276px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__perceptions {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 295px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__paunches {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 301px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

    }

    &--button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 110px 0;

      button {
        background: #FFFFFF;
        border: 1px solid black;
        width: 205px;
        height: 54px;
        cursor: pointer;

        h5 {
          font-family: 'Libre Franklin', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }

  }
}

#featuredPosts {
  .featuredPosts {
    margin: 90px 0 70px 0;

    &--ftdText {
      @include h5;
      margin-bottom: 30px;
    }

    &--textAndImg {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        width: 630px;
        height: 400px;
      }

      &__brief {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 536px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__need {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 520px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }
    }

    &--secondTextAndImg {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;

      img {
        width: 630px;
        height: 400px;
      }

      &__fred {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 536px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }

      &__saatchi {
        h5 {
          @include h5;
          margin: 20px 0;
        }

        h3 {
          @include h3;
          width: 547px;
        }

        h6 {
          @include h6;
          margin-top: 20px;
        }
      }
    }
  }
}

#footer {
  background: #141414;

  .footer {
    padding: 90px 0;

    a {
      margin-bottom: 15px;
    }

    &--start {
      display: flex;
      align-items: center;
      border-bottom: solid 1px #4D4D4D;
      padding-bottom: 50px;
      &__logo {
        font-family: "Roboto Mono", monospace;
        color: white;
        margin-right: 10px;
      }

      &__reserved {
        @include h5;
        color: #666666;
      }
    }

    &--categories {
      &__brownText {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 50px 0 0 0;

        h5 {
          @include h5;
          color: #666666;
        }
      }

      &__menusAndInput {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        width: 1278px;

        &--animation {
          @include menus;
        }

        &--Architecture {
          @include menus;
        }

        &--Photography {
          @include menus;
        }

        &--Illustration {
          @include menus;
          margin-bottom: 50px;
        }

        input {
          padding: 15px;
          border: solid 1px #CCCCCC;
        }

        &--input {
          &__button {
            background: #000000;
            height: 50px;
            width: 80px;
            border: none;

            h5 {
              color: white;
              font-family: "Libre Franklin", sans-serif;
              font-weight: 400;
            }
          }
        }
      }

      &__lastMenus {
        display: flex;
        justify-content: space-between;
        width: 645px;

        h5 {
          @include h5;
          color: #666666;
          margin-bottom: 15px;
        }

        &--information {
          @include menus;
        }

        &--followUs {
          @include menus;
          justify-content: center;
        }

        &--template {
          @include menus;
        }
      }
    }
  }
}
